.footer{
  background: $bgSite;
  width: 100%;

  &__titulo{
    font-family: $merriweather-regular;
    font-size: 3rem;
    color: $title;
    margin: 40px 0;
  }

  &__formulario{
    width: 80%;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 30px;

    @include for-phone-only{
      width: 100%;
    }
  }
}

.formulario{
  box-sizing: border-box;

  &__container{
    list-style-type: none;
    padding: 0;
    max-width: 800px;
    margin: 0 auto;
    width: 100%;
  }

  &__container-item{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin-bottom: 20px;
    @include for-phone-only{
      margin-left: 10%;
      margin-right: 10%;
    }

  }

  &__field{
    width: 60%;
    margin: 0 auto;
    padding: 18px 10px;
    border: none;
    border-radius: 6px;
    font-family: $lato-regular;
    font-size: 1.8rem;
    color: $text;
    outline: none;

    @include for-phone-only{
      width: 100%;
    }
  }

  &__container-button{
    width: 60%;
    margin-left: auto;
    margin: 0 auto;
    padding: 18px 10px;
    border: none;
    background: $buttonColor;
    color: $white;
    letter-spacing: .05em;
    border-radius: 5px;
    font-family: $lato-regular;
    font-size: 2rem;
    font-weight: 700;
    margin-top: 15px;
    cursor: pointer;
    &:hover{
      opacity: 0.8;
    }

    @include for-phone-only{
      width: 100%;
    }
  }
}